* {
  box-sizing: border-box;
}
@media only screen and (max-width: 1000px) {
  .center-div {
    width: 100% !important;
    font-size: 20px;
    height: 100% !important;
  }
}
.main-div {
  background-color: #92a9bd;
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-height: 100%;
}
.center-div {
  background-color: white;
  width: 65%;
  height: 650px;
  border-radius: 20px;
}
.all-list {
  overflow: auto !important;
  height: 469px;
}
.heading {
  color: #d0ff00;
  background-color: #92a9bd;
  padding: 5px;
}
.inpbtn {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.input-text {
  border: none;
  color: #000000;
  font-weight: bold;
  padding: 10px;
  border-bottom: 5px solid pink;
  background-color: transparent;
  font-size: 20px;
  width: 50%;
}
input:focus-visible {
  outline: none;
}
.btnadd {
  color: white;
  background-color: #ff7800;
  font-weight: bold;
  padding: 10px;
  font-size: 20px;
  border-radius: 50%;
  margin: 5px;
  border: none;
  width: 43px;
}
.btnadd:hover {
  background-color: green;
}
.delete {
  display: inline-block;
  margin: 0 10px;
  font-size: 30px;
  color: red;
}
.line-through {
  text-decoration: line-through;
}
.delete:hover {
  font-size: 35px;
}
.list-div {
  list-style-type: none;
  padding: 0 16px;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* .icons {
} */

.list {
  display: inline-block;
}
.list-item {
  font-size: 24px;
  font-weight: normal;
  display: inline-block;
  text-align: left;
  padding: 5px;
  margin: 2px;
  overflow-x: auto;
  width: 80%;
}

.check {
  display: inline-block;
  font-size: 35px;
  width: 20%;
  margin: 2px;
  padding: 2px;
  color: green;
}
.remove {
  display: inline-block;
  font-size: 35px;
  width: 20%;
  margin: 2px;
  padding: 2px;
  color: red;
}
.check:hover {
  color: #09b300;
}

/* ScollBar style */
/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 5px;
}

/* Track */
/* ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(3, 3, 3);
  border-radius: 10px;
} */

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff7800;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #09b300;
}
